<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/dashboard.css')}}">
    <script src="index.js"></script>
    <script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>

</head>

<body>
    <header class="header">
        <nav class="treact__nav">
            <div class="row">
                <div class="logo__mask">
                    <img class="logo__img" src="../static/assets/2.png" alt="">
                </div>
                <ul class="nav__links">
                    <li class="nav__list"><a class="a" href="#">About</a></li>
                    <li class="nav__list"><a class="a" href="#">Blog</a></li>
                    <li class="nav__list"><a class="a" href="#">Pricing</a></li>
                    <li class="nav__list"><a class="a" href="#">Contact Us</a></li>
                    <div class="signup">
                        <li class="signup__login"><a href="/login/user">Login</a></li>
                        <li class="signup__primary"><a class="a__primary" href="/register">Sign Up</a></li>
                    </div>
                </ul>

                <button class="btn__menu" onclick="openMenu()">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="menu__backdrop">
                    <button class="btn__menu btn__menu--close" onclick="closeMenu()">
                        <i class="fas fa-times"></i>
                    </button>

                    <ul class="menu__links">
                        <li class="menu__list"><a href="#" class="menu__link" onclick="closeMenu()">About</a></li>
                        <li class="menu__list"><a href="#" class="menu__link" onclick="closeMenu()">Blog</a></li>
                        <li class="menu__list"><a href="#" class="menu__link" onclick="closeMenu()">Pricing</a></li>
                        <li class="menu__list"><a href="#" class="menu__link" onclick="closeMenu()">Contact Us</a></li>
                        <li class="menu__list"><a href="#" class="menu__link" onclick="closeMenu()">Login</a></li>
                        <li class="menu__list"><a href="#" class="menu__link-primary" onclick="closeMenu()">Sign Up</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <section id="input">
            <div class="container">
                <div class="nonimg">
                    <h1 class="input__heading">Beautiful React Templates <span class="purple">for you.</span></h1>
                    <p class="input__para">Our templates are easy
                        to setup, understand and customize.
                        Fully modular components with a variety
                        of pages and components.
                    </p>

                    <div class="input-container">
                        <input class="input-field" type="email" placeholder="Your E-mail address" />
                        <button class="img__button">Get Started</button>
                    </div>
                    <p class="input__text">OUR TRUSTED COUSTMERS</p>
                    <img class="flogo" src="../static/assets/4logo.png" alt="">

                </div>
                <div class="img__container">
                    <img src="../static/assets/design-illustration-2.6da6a00b.svg" alt="" class="logom">
                </div>

            </div>
            <svg width="600" height="600" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg"
                class="TwoColumnWithInput__DecoratorBlob1-sc-4exk7k-8 byULar">
                <g transform="translate(300,300)">
                    <path
                        d="M176.2,-106.9C208.7,-45.5,201.8,33.5,165.8,99.4C129.9,165.3,65,218.2,-9.2,223.5C-83.4,228.8,-166.9,186.7,-201.6,121.4C-236.4,56.2,-222.6,-32.2,-180.9,-98.9C-139.1,-165.7,-69.6,-210.8,1.2,-211.5C71.9,-212.2,143.8,-168.3,176.2,-106.9Z"
                        fill="#6415ff"></path>
                </g>
            </svg>
            </div>
        </section>
    </header>

    <section id="features">
        <div class="container__ftr">
            <div class="row__ftrr">
                <div class="ftr">
                    <p class="ftr__heading"> <span class="purple">FEATURES</span> </p>
                    <h1 class="ftr__title">We have Amazing <span class="purple">Service.</span></h1>
                    <p class="ftr__para">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua.</p>
                </div>
            </div>


            <div class="container__svc">
                <div class="services">
                    <div class="service">
                        <div class="service__title">
                            <h1 class="title__svc">Secure</h1>
                            <div class="service__para">
                                <p class="para__svc">We strictly only
                                    deal with vendors that provide top notch security.</p>
                            </div>
                        </div>
                    </div>
                    <div class="service">
                        <div class="service__title">
                            <h1 class="title__svc"> 24/7 Support</h1>
                            <div class="service__para">
                                <p class="para__svc">We strictly only
                                    deal with vendors that provide top notch security.</p>
                            </div>
                        </div>
                    </div>
                    <div class="service">
                        <div class="service__title">
                            <h1 class="title__svc">Customizable</h1>
                            <div class="service__para">
                                <p class="para__svc">We strictly only
                                    deal with vendors that provide top notch security.</p>
                            </div>
                        </div>
                    </div>
                    <div class="service">
                        <div class="service__title">
                            <h1 class="title__svc">Reliable</h1>
                            <div class="service__para">
                                <p class="para__svc">We strictly only
                                    deal with vendors that provide top notch security.</p>
                            </div>
                        </div>
                    </div>
                    <div class="service">
                        <div class="service__title">

                            <h1 class="title__svc">Fast</h1>
                            <div class="service__para">
                                <p class="para__svc">
                                    We strictly only
                                    deal with vendors that provide top notch security.</p>
                            </div>
                        </div>
                    </div>
                    <div class="service">
                        <div class="service__title">
                            <h1 class="title__svc">Easy</h1>
                            <div class="service__para">
                                <p class="para__svc">We strictly only
                                    deal with vendors that provide top notch security.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section id="shot">
        <div class="container__shot">
            <div class="row__shot">
                <div class="shot">
                    <h5 class="shot__heading"> <span class="purple">QUALITY WORK</span></h5>
                    <div class="shot__title">Designed & Developed by <span class="purple">Professionals.</span></div>
                    <div class="shot__para">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                        minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                        commodo consequat.</div>

                    <div class="shot-container">
                        <button class="shot__button">Learn More</button>
                    </div>
                </div>
                <div class="shot__container">
                    <img src="../static/assets/hero-screenshot-1.40a097b5.png" alt="" class="logos">

                </div>
            </div>
        </div>
    </section>

    <section id="laptop">
        <div class="container__lap">
            <div class="row__lap">
                <div class="lap__img">
                    <img src="../static/assets/hero-screenshot-2.241aac1f.png" alt="" class="logol">
                </div>

                <div class="steps">
                <div class="step__sep">
                    <h5 class="steps__header">STEPS</h5>
                    <h1 class="steps__title">Easy to <span class="purple">Get Started.</span></h1>
                </div>
                <ul class="steps__ul">
                    <li class="step__list">
                        <div class="number">01 </div>
                            <div class="step__title">
                                <h1 class="h1__step">Register</h1>
                                <p class="p__step">Create an account with us using Google or Facebook.</p>
                            </div>
                       
                    </li>
                    <li class="step__list">
                        <div class="number">02 </div>
                            <div class="step__title">
                                <h1 class="h1__step">Download</h1>
                                <p class="p__step">Browse and download the template that you like from the marketplace.</p>
                            </div>
                    </li>
                    <li class="step__list">
                        <div class="number">03 </div>
                            <div class="step__title">
                                <h1 class="h1__step">Run</h1>
                                <p class="p__step">Follow the instructions to setup and customize the template to your needs.</p>
                            </div>
                    </li>
            </div>
        </div>
        </div>
        </div>
    </section>
    <section id="pricing">
        <div class="container__pricing">
            <div class="row__pricing">
                <div class="pricing__top">
                    <h5 class="h5__pricing">PRICING</h5>
                    <h1 class="h1__pricing"> Reasonable & Flexible <span class="purple">Plans</span></h1>
                    <p class="p__pricing">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>

                <div class="plan__container">
                    <div class="box-wrapper">
                        <div class="box_1">
                            <div class="personal1">
                                <span class="name">Personal</span>
                                <span class="price">$17.99</span>
                                <span class="duration">Monthly</span>
                            </div>
                            <div class="individuals1">
                                <span class=" main__feature">For Individuals</span>
                                <span class="feature">30 Templates</span>
                                <span class="feature">7 Landing Pages</span>
                                <span class="feature">12 Internal Pages</span>
                                <span class="feature">Basic Assistance</span>
                            </div>

                            <div class="button__1">
                                <button class="btn__1">Buy Now</button>
                            </div>
                        </div>


                        <div class="box_2">
                            <div class="personal2">
                                <span class="name">Business</span>
                                <span class="price">$37.99</span>
                                <span class="duration2">Monthly</span>
                            </div>
                            <div class="individuals2">
                                <span class=" main__feature2">For Small Businesses</span>
                                <span class="feature2">60 Templates</span>
                                <span class="feature2">15 Landing Pages</span>
                                <span class="feature2">22 Internal Pages</span>
                                <span class="feature2">Priority Assistance</span>
                            </div>

                            <div class="button__2">
                                <button class="btn__2">Buy Now</button>
                            </div>
                        </div>

                        <div class="box_3">
                            <div class="personal3">
                                <span class="name">Enterprise</span>
                                <span class="price">$57.99</span>
                                <span class="duration">Monthly</span>
                            </div>
                            <div class="individuals3">
                                <span class=" main__feature">Enterprise</span>
                                <span class="feature">90 Templates</span>
                                <span class="feature">27 Landing Pages</span>
                                <span class="feature">37 Internal Pages</span>
                                <span class="feature">Personal Assistance</span>
                            </div>
                            <div class="button__3">
                                <button class="btn__3">Buy Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </section>
<footer>
    <div class="footer__container">
        <div class="footer__row">
            <div class="links__container">

                    <div class="link">
                    <ul class="main">
                        <li class="main__1"><a href="#"><h1>Main</h1></a></li>
                      <li class="list__footer"><a href="#">Blog</a></li>
                      <li class="list__footer"><a href="#">FAQs</a></li>
                      <li class="list__footer"><a href="#">Support</a></li>
                      <li class="list__footer"><a href="#">About Us</a></li>
                    </ul>
                </div>
                <div class="link">
                    <ul class="main">
                      <li class="main__1"><a href="#"><h1>Product</h1></a></li>
                      <li class="list__footer"><a href="#">Log In</a></li>
                      <li class="list__footer"><a href="#">Personal</a></li>
                      <li class="list__footer"><a href="#">Business</a></li>
                      <li class="list__footer"><a href="#">Team</a></li>
                    </ul>
                </div>
                <div class="link">
                    <ul class="main">
                    <li class="main__1"><a href="#"><h1>Press</h1></a></li>
                      <li class="list__footer"><a href="#">Login</a></li>
                      <li class="list__footer"><a href="#">Events</a></li>
                      <li class="list__footer"><a href="#">Stories</a></li>
                      <li class="list__footer"><a href="#">Office</a></li>
                    </ul>
                </div>
                <div class="link">
                    <ul class="main">
                      <li class="main__1"><a href="#"><h1>Team</h1></a></li>
                      <li class="list__footer"><a href="#">Carrer</a></li>
                      <li class="list__footer"><a href="#">Founders</a></li>
                      <li class="list__footer"><a href="#">Culture</a></li>
                      <li class="list__footer"><a href="#">Onboarding</a></li>
                    </ul>
                </div>
                <div class="link">
                    <ul class="main">
                      <li class="main__1"><a href="#"><h1>Legal</h1></a></li>
                      <li class="list__footer"><a href="#">GDPR</a></li>
                      <li class="list__footer"><a href="#">Privacy Policy</a></li>
                      <li class="list__footer"><a href="#">Terms of Services</a></li>
                      <li class="list__footer"><a href="#">Disclaimer</a></li>
                    </ul>
                </div>
        </div>
           
    </div>
    <div class="footer__text">
    <div class="footer__info">
        <img class="logo__img" src="../static/assets/whitelogo.svg" alt=""> 
        <h5>Treact.inc</h5>
    </div>
   <h6 class="h6__footer">© 2022 Jang Inc. All Rights Reserved.</h6> 
    <div class="social__links">
   <a href="#" class="social__link"><i class="fab fa-github"></i></a>
   <a href="#" class="social__link"><i class="fab fa-github"></i></a>
   <a href="#" class="social__link"><i class="fab fa-github"></i></a>
</div>
    </div>
    </div>
</footer>

<script type="text/javascript">

function openMenu(){
    document.body.classList += " menu--open"
}

function closeMenu(){
    document.body.classList.remove('menu--open')
}
</script>

</body>

</html>