<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/legal.css')}}">
    <script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <div class="row">
        <img class="company_logo" src="../static/assets/2.png" alt="">

        <div class="container">
            <div class="left_container">
                <h1 class="heading_for_details">All the legal Information can be found here.</h1>
                <div class="left_container_content">
                    <p>This Rocket Family of Companies Privacy Policy describes how the Rocket Family of Companies (as
                        defined in <a href=>"Who We Are"</a> below) process information collected on our websites and
                        applications (including mobile) or through your online interactions with us (collectively, our
                        "Services").</p>
                    <p>In some circumstances, we may provide you with additional or supplemental privacy notices to the
                        extent they apply to you because of the products and services you obtain from us or different
                        laws that may apply to you. If you are a resident of California, Colorado, Connecticut, Utah,
                        Virginia, or another state that may provide additional privacy rights, please refer to the
                        Additional Information Regarding Your State Privacy Rights section.</p>
                    <h1 class="heading_for_details" id="one">Who We Are</h1>
                    <p>When we say "Zinc," we mean companies that are controlled by this corporation, LLC and share the
                        Zinc name or are on the Zinc platform. A reference to "Zinc", "we" or "us" is a reference to the
                        relevant Zinc Company in the Zinc Family of Companies that is involved in the processing
                        activity. This policy does not apply to Zinc that aren't in the Zinc Family of Companies
                        ("Affiliates"), and the data practices of Affiliates are governed by their own privacy policies.
                    </p>
                    <h1 class="heading_for_details" id="two">Information We Collect</h1>
                    <details>
                        <summary>
                            Information you provide
                        </summary>
                        <p class="collapsed_p">We collect information you provide to us. For example, we collect
                            information from you when you create a Rocket account, fill out a form or otherwise submit
                            content through our Services, are referred to us via one of our third-party professional
                            partner relationships, make a purchase, communicate with us via third-party platforms,
                            participate in a contest, promotion or survey, request customer support or information about
                            our Services, or otherwise communicate with us.
                            The specific information we collect depends on the context in which you provide it, and
                            could include:</p>

                        <p class="collapsed_p ">The specific information we collect depends on the context in which you
                            provide it, and could include:</p>
                        <ul>
                            <li class="li_tag_cont">Name</li>
                            <li class="li_tag_cont">Email address</li>
                            <li class="li_tag_cont">Postal address</li>
                            <li class="li_tag_cont">Social security number</li>
                            <li class="li_tag_cont">Location and approximate value of your property</li>
                            <li class="li_tag_cont">Vehicle information, such as make, model, VIN and vehicle features</li>
                            <li class="li_tag_cont">Age</li>
                            <li class="li_tag_cont">Demographic information, such as race, ethnicity and gender gathered pursuant to federal requirements</li>
                            <li class="li_tag_cont">Related loan products or services you have used in the past</li>
                            <li class="li_tag_cont">Financial information, such as income, assets and net worth</li>
                            <li class="li_tag_cont">Home ownership status and employment status</li>
                            <li class="li_tag_cont">Insurance information</li>
                            <li class="li_tag_cont">Other profile data, including your interests and preferences</li>
                            <li class="li_tag_cont">Any other information you choose to provide</li>
                        </ul>
                    </details>
                    <details>
                        <summary>
                            Information We automaticly collect
                        </summary>
                        <p class="collapsed_p">We automatically collect certain information about your interactions with us or our Services, including:</p>
                        <ul>
                            <li class="li_tag_cont bb"> <b>Transactional Information:</b>  When you make a purchase or complete a transaction, we collect information about the transaction, such as product or service details, financial details and the date and location of the transaction.</li>
                            <li class="li_tag_cont bb"><b>Device and Usage Information:</b>  We collect information about how you access our Services, including data about the device and network you use, such as hardware model, operating system version, mobile network, IP address, unique device identifiers and device regional and language settings, browser type, and app version. We also collect information about your activity on our Services, such as access times, pages viewed, links clicked, products and services considered, and the page you visited before navigating to our Services.</li>
                            <li class="li_tag_cont bb"><b>Your Content:</b>  As you allow through your device or application, we may collect information and content stored on your device, such as photos.</li>
                            <li class="li_tag_cont bb"><b>Location Information:</b> In accordance with your device permissions, we may collect information about the precise location of your device. You may stop the collection of precise location information at any time (see the <a href="">Your Choices</a>  section below for details).</li>
                            <li class="li_tag_cont bb"><b> Information Collected by Cookies and Similar Tracking Technologies:</b> We (and those who perform work for us) use tracking technologies, such as cookies and web beacons, to collect information about your interactions with the Services.</li>
                            <li class="li_tag_cont bb">Vehicle information, such as make, model, VIN and vehicle features</li>
                            <p class=" collapsed_p pp"><b>Cookies</b> are small data files stored on your hard drive or in device memory that help us improve our Services and your experience, see which areas and features of our Services are popular and which emails and advertisements you view, authenticate users, reconstruct or observe activity relating to a session or by a user for troubleshooting, issue resolution, and other purposes, and count visits to our websites.
                            <p class=" collapsed_p pp"><b>Web beacons</b>  (also known as "pixel tags" or "clear GIFs") are electronic images that we use on our Services and in our emails to help deliver cookies, count visits, and understand usage and campaign effectiveness. In our mobile apps, we may also use technologies that are not browser-based like cookies.</p>
                            </p>
                            <p class=" collapsed_p pp">For example, our apps may include software development kits (known as SDKs) which are code that sends information about your use to a server. These SDKs allow us to track our conversions, bring you advertising both on and off the Service, and provide you additional functionality. For more information about these tracking technologies and how to disable them, see the Advertising and Analytics section below.</p>
                        </details>
                        <details>
                            <summary>
                            Information We Collect From Other Sources
                        </summary>
                        <p class="collapsed_p">We obtain information from third-party sources in certain situations. For example, we may collect information about you from identity or other verification services, credit bureaus (including your credit report), advertising networks, mailing list providers, service providers and data brokers. Our Services also may allow or require you to integrate or connect your Rocket account with third-party services through service providers (such as Plaid).

                            The information we receive from such third parties varies depending on the information made available by those entities. Examples of the types of information we receive include financial account information, information about account balance, information about credit accounts, information about loan accounts, information about investment accounts, identifiers and information about account owners, information about account transactions and employment information.
                            
                            Additionally, if you create or log into your Rocket account through a third-party platform, such as Facebook or Google, we'll have access to certain information from that platform, such as your name, birthday, and profile picture, in accordance with the authorization procedures determined by such platform.</p>

                    </details>
                    <details>
                        <summary>
                            Information We Derive
                        </summary>
                        <p class="collapsed_p">We may derive information or draw inferences about you based on the information we collect. For example, we may make inferences about your location based on your IP address or city or postal code or infer that you are looking to purchase certain products based on information you provide to us and your browsing behavior and past purchases.</p> 
                    </details>
                    <details>
                        <summary>
                            Plaid Technologies
                        </summary>
                        <p class="collapsed_p">Rocket enables you to use Plaid Technologies, Inc. to gather data from financial institutions. By using the Services, you acknowledge and agree that your information will be processed in accordance with the <a href="https://plaid.com/legal/#consumers">Plaid Privacy Policy</a>  and you grant Rocket and Plaid the same rights, power and authority as specified therein.</p>
                    </details>


                    <h1 class="heading_for_details" id="three">How We Use Your Information</h1>
                    <p class="collapsed_p">We use the information we collect to provide our Services to you.</p>

                    <details>
                        <summary>Reasons to Collect Information</summary>
                        <p class="collapsed_p">We also use the information we collect to:</p>
                        <ul>
                            <li class="li_tag_cont bb smallfont">Fulfill or deliver the services you requested</li>
                            <li class="li_tag_cont bb smallfont">Provide, maintain, improve and develop new products, services and features, including debugging and repairing errors in our Services</li>
                            <li class="li_tag_cont bb smallfont">Personalize your experience with us</li>
                            <li class="li_tag_cont bb smallfont">Send you technical notices, security alerts, support messages and other transactional or relationship messages, including responding to your inquiries and comments</li>
                            <li class="li_tag_cont bb smallfont">Communicate with you about products, services, and events offered by Rocket and others and provide news and information that we think will interest you. See the Your Choices section below for information about how to opt out of these communications at any time</li>
                            <li class="li_tag_cont bb smallfont">Monitor and analyze trends, usage, and activities in connection with our products and services</li>
                            <li class="li_tag_cont bb smallfont">Personalize the advertisements you see on third-party platforms and websites. For more information, see the Advertising and Analytics section below</li>
                            <li class="li_tag_cont bb smallfont">Show you offers for third-party services personalized to you, based on information we have collected about you</li>
                            <li class="li_tag_cont bb smallfont">Facilitate contests, sweepstakes and promotions, and process and deliver entries and rewards</li>
                            <li class="li_tag_cont bb smallfont">Detect, investigate, and help prevent security incidents and other malicious, deceptive, fraudulent, or illegal activity, and help protect the rights and property of Rocket and others</li>
                            <li class="li_tag_cont bb smallfont">Comply with our legal and financial obligations</li>
                            <li class="li_tag_cont bb smallfont">Create de-identified, anonymized or aggregated information</li>
                            <li class="li_tag_cont bb smallfont">Fulfill any other purpose at your direction</li>
                          </ul>
                    </details>
                    <details>
                        <summary>Sharing With Affiliates</summary>
                        <p class="collapsed_p">Zync also shares your information with our Affiliates. For example, we share, or may share, your information:
                            <ul>
                                <li class="li_tag_cont bb smallfont">With Affiliates that act as vendors, service providers and consultants that access personal information to perform services for us, such as companies that assist us with call center/directory services</li>
                                <li class="li_tag_cont bb smallfont">With Affiliates for their own services and marketing purposes</li>
                                <li class="li_tag_cont bb smallfont">With Affiliates for regulatory reporting purposes and capturing performance metrics</li>
                                <li class="li_tag_cont bb smallfont">With Affiliates if we believe (1) that your actions are inconsistent with our user agreements or policies, (2) that you have violated the law, or (3) it's necessary to protect the rights, property and safety of Rocket, our users, the public or others</li>
                                <li class="li_tag_cont bb smallfont">In connection with, or during negotiations concerning, any merger, sale of company assets, financing or acquisition of all or a portion of our business by another company</li>
                                <li class="li_tag_cont bb smallfont">With Affiliates with your consent or at your direction</li>
                              </ul>
                        </p>
                    </details>
                    <details>
                        <summary>Non-affiliated third parties</summary>
                        <ul>
                            <li class="li_tag_cont bb">We share personal information with vendors, service providers and consultants that access personal information to perform services for us, such as companies that assist us with web hosting, shipping and delivery, payment processing, fraud prevention, customer service, data analytics, property title and appraisal services, technical support marketing and advertising.</li>
                            <li class="li_tag_cont bb">If you submit a product review or post content in another public area of our Services, we share this information publicly on our Services.</li>
                            <li class="li_tag_cont bb">If you choose to use integrations we offer on our Services, such as sharing your location through our Google Maps integration, we may share certain information with the integration partners.</li>
                            <li class="li_tag_cont bb">We share personal information with third parties for their own services and marketing purposes, analytics, and in some cases to jointly market and provide products and services with third parties.</li>
                            <li class="li_tag_cont bb">When you request information about services offered by other companies, we may disclose information about you to those companies so that we or they can notify you of, and determine if you qualify for, products or services.</li>
                            <li class="li_tag_cont bb">We may disclose personal information if we believe that disclosure is in accordance with, or required by, any applicable law or legal process, including lawful requests by public authorities to meet national security or law enforcement requirements.</li>
                            <li class="li_tag_cont bb">We may share personal information if we believe (1) that your actions are inconsistent with our user agreements or policies, (2) that you have violated the law, or (3) it's necessary to protect the rights, property and safety of Rocket, our users, the public, or others.</li>
                            <li class="li_tag_cont bb">We share personal information with our lawyers and other professional advisors where necessary to obtain advice or otherwise protect and manage our business interests.</li>
                            <li class="li_tag_cont bb">We may share personal information in connection with, or during negotiations concerning, any merger, sale of company assets, financing or acquisition of all or a portion of our business by another company.</li>
                            <li class="li_tag_cont bb">We share personal information with your consent or at your direction, including but not limited to through third-party integrations you choose to enable.</li>
                            <li class="li_tag_cont bb">We also share aggregated or de-identified information that cannot reasonably be used to identify you.</li>
                            <li class="li_tag_cont bb">If you have opted-in to a SMS short code offers program, your opt-in data and consent to the offers program will not be shared with any third parties. If you separately provided your consent to be contacted (outside of a SMS short code offers program), that information may be shared.</li>
                          </ul>
                          
                    </details>
                    <h1 class="heading_for_details" id="four">Advertising and Analytics</h1>
                    <details>
                        <summary>Web and Mobile Apps</summary>
                        <p class="collapsed_p">We share personal information to allow others to provide analytics services and serve advertisements across the web and in mobile apps. These entities may use cookies, web beacons, device identifiers and other technologies to collect information about your use of our Services and other websites and applications, including your IP address, web browser, mobile network information, pages viewed, time spent on pages or in mobile apps, links clicked and conversion information.</p>
                        <p class="collapsed_p">This information may be used by Rocket and others to, among other things, analyze and track data, reconstruct or observe activity relating to a session, determine the popularity of certain content, deliver advertising and content targeted to your interests on our Services and other websites, and better understand your online activity.</p>
                        <p class="collapsed_p">For more information about interest-based ads, or to opt out of having your web browsing information used for behavioral advertising purposes, please visit www.aboutads.info/choices. Your device may also include a feature ("Limit Ad Tracking" on iOS or "Opt Out of Interest-Based Ads" or "Opt Out of Ads Personalization" on Android) that allows you to opt out of having certain information collected through mobile apps used for behavioral advertising purposes.</p>
                    </details>

                    <h2 class="heading_for_details" id="five">Contact Information</h2>
                    <p class="collapsed_p">If you have questions regarding this Zync's Privacy Policy, our information practices or other aspects of privacy relating to our Services, call us at 888-444-7492.</p> 

                    <h2 class="heading_for_details" id="six">ADDITIONAL INFORMATION REGARDING YOUR STATE PRIVACY RIGHTS</h2>
                    <p class="collapsed_p">Certain states, including California, Colorado, Connecticut, Utah, and Virginia, require that we provide additional information regarding our privacy practices and your privacy rights. If you are a resident of those states, we provide you additional notices about our privacy practices and consumer rights relating to your information. Some of the companies within the Rocket Family of Companies are financial institutions subject to other regulatory privacy frameworks, such as the Gramm Leach Bliley Act (GLBA), and the privacy disclosure and rights described in this section may not apply.</p>
                </div>
            </div>

            <div class="right_container">
                <div class="content_box_right">
                    <div class="header">
                        <h3>Table of contents</h3>
                    </div>
                    <ul class="content_box_right__ul">
                        <li><a class="content_box_right__li" href="#one">Who We Are</a></li>
                        <li><a class="content_box_right__li" href="#two">Information We Collect</a></li>
                        <li><a class="content_box_right__li" href="#three">How We Use Your Information</a></li>
                        <li><a class="content_box_right__li" href="#four">Advertising and Analytics</a></li>
                        <li><a class="content_box_right__li" href="#five">Contact Information</a></li>
                        <li><a class="content_box_right__li" href="#six">Additional Information</a></li>
                    </ul>

                </div>
            </div>

        </div>
    </div>
    <script>
        // Rotate caret icon on open/close
        document.querySelectorAll('details').forEach(function (details) {
            details.addEventListener('toggle', function () {
                var icon = details.querySelector('summary i');
                if (icon) {
                    icon.classList.toggle('fa-rotate-180');
                }
            });
        });
        var details = document.getElementsByTagName('details');

		// loop through each details element
		for(var i=0; i<details.length; i++) {
			// set the open attribute to true
			details[i].setAttribute('open', 'true');
		}
    </script>
   
</body>

</html>