<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style=" font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;">
    <div style="border: none; 
    background-color: rgba(89, 88, 88, 0.141);
    border-radius: 6px; 
    height: fit-content; 
    padding: 12px; width: 80%; 
    margin: 0 auto;">
        <h3 style=" font-size: 24px; 
        text-align: center; 
        margin-top: 20px; 
        font-weight: 700; ">Let's get you up and running</h3>
        <p style="padding: 0 5px 0 5px; 
        margin-left: 12px;">We're so glad you're here. To start taking control of your finances and saving money, there's just one last thing to do. <span style="font-weight:700;">confirm your bank login through or secure server.</span></p>
        <img style=" width:102.5%; position: relative; right: 1.4%;" src="cid:logo">


        </div>
        <!-- <div style="border: none; 
        background-color: rgba(89, 88, 88, 0.141);
        border-radius: 6px; 
        height: fit-content; 
        padding: 12px; width: 80%; 
        margin: 0 auto;
        margin-top:20px"
        >
        <h3 style=" font-size: 24px; 
            text-align: center; 
            margin-top: 20px; 
            font-weight: 700; ">Let's get you up and running</h3></h1>
        </div> -->

</body>
</html>