body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.nav__links{
    padding-right: 5%;
}
.more_info_link{
    width: 120px;
    height: 40px;
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    margin-top: 20px;
    cursor: pointer;
    transition: all 400ms ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.business {
    display: flex;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}
.ratings_stars{
    margin-top: 12px;
}
.business-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.business h2 {
    margin-top: 0;
}

.business img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.stars {
    font-size: 24px;
}

.stars::before {
    content: "★";
    color: gold;
    display: inline-block;
    width: 1em;
    margin-right: 0.2em;
}

.stars::after {
    content: "☆";
    color: grey;
    display: inline-block;
    width: 1em;
}


.ratings_stars .fa-star,
.ratings_stars .fa-star-half-alt {
    font-size: 24px;
    margin-right: 0.2em;
}



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}


.logo__img {
    width: 9.5rem;
    margin-right: 0.75rem;
}
section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

nav {
    position: sticky;
    top: 0;
    padding: 24px 12px;
    border-bottom: 1px solid rgb(237, 237, 237);
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(23, 48, 73, 0.12) 0px 4px 24px;

}

.logo__mask {
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: 1.5rem;
    color: rgb(24, 9, 84);
}

li {
    list-style: none;
}


/*  */
/*  */

/*  */
/*  */
.row {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/* LINKS */

.nav__list {
    font-size: 0.875rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
}

a {
    color: black;
}

.nav__links {
    display: flex;
    align-items: center;
}

.signup__login {
    padding-right: 24px;
    color: black;
}


.signup {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.signup__login {
    padding-right: 24px;
}

.signup__primary,
.primary__button {
    border: 2px solid  #3497d5;
    background-color:  #3497d5;
    border-radius: 50px;
    margin-right: 20px;
    font-weight: bold;
    opacity: 0.95;
    transition: all 300ms ease;
}

.a__primary {
    color: white;
    padding: 16px 20px;
    font-weight: bold;
}

.a__primary:hover {
    color: rgb(24, 23, 23);
    text-decoration: none;
}

.signup__primary:hover {
    opacity: 1.0;
    /* background-color: rgb(178, 178, 178); */
    color:  #3497d5;
}


/* BUTTON */

.btn__menu {
    background-color: transparent;
    border: none;
    height: 30px;
    width: 30px;
    font-size: 20px;
    text-align: center;
    color: black;
    padding-right: 20px;
    display: none;
    transition: all 300ms ease;

}



.menu__backdrop {
    z-index: 10;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    margin: 1.5rem 2.0rem;
    padding: 2rem;
    border: 1px solid gray;
    text-align: center;
    border-radius: 0.5rem;
    --tw-text-opacity: 1;
    color: rgba(26, 32, 44, var(--tw-text-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
    display: flex;
    z-index: 10;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    visibility: hidden;
    display: none;
    display: block;
    transform: translateX(150%) translateZ(0px);
}

.menu__backdrop,
.btn__menu:hover {
    cursor: pointer;
}

.menu--open .menu__backdrop {
    visibility: visible;
    display: flex;
    opacity: 1;
    display: block;
    transform: translateX(0%) translateZ(0px);
}
#features{
    margin: 0 auto;
    width: fit-content;
}
 .search_left {
    text-align: center;
    height: 500px;
    padding-top: 24px;
}




.btn__menu--close {
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 2px;
    color: rgb(0, 0, 0);
    font-size: 20px;
}



.menu--open {
    overflow-y: hidden;
    max-height: 100vh;
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.signup__primary {
    color: white;
}

.menu__list {
    padding: 16px 0;
    display: flex;
}

.menu__link {
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.menu__link-primary {
    border: 2px solid #3497d5;
    background-color: #3497d5;
    color: white;
    padding: 8px 12px;
    border-radius: 1px;
    width: 200px;
    height: 40px;
    border-radius: 50px;
    font-weight: bold;
    opacity: 0.95;
    transition: all 300ms ease;

}
a{
    text-decoration: none;
}
ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
}


.menu__link-primary:hover {
    color: white;
    text-decoration: none;
    opacity: 1;
}


.title_search {
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: 0.005em;
    margin-top: 2%;
    text-align: center;
    font-family: Inter, system-ui;
    --tw-text-opacity: 1;
    color: rgba(36, 62, 99, var (--tw-text-opacity));
    color: rgba(36, 62, 99, var(--tw-text-opacity));
}
.activity_list{
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 0.005em;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 12px;
    font-family: Inter, system-ui;
    --tw-text-opacity: 1;
    color: rgba(36, 62, 99, var (--tw-text-opacity));
    color: rgba(36, 62, 99, var(--tw-text-opacity));
}




.main_container_result{
display: flex;
justify-content: space-around;
width: 95%;
}

/* .sticky {
    position: fixed !important;
    top: 0;
    left: 0;
  }
  .right_result_container {
    padding-left: 250px;
  } */
.left_result_container{
    width: 30%;
    text-align: center;
    display: flex;
    flex-direction:  column;
    align-items: center;
    margin-top: 50px;
}
.right_result_container{
    width: 70%;
}
.filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .formitself{
    display: flex;
    flex-direction: column;
  }
 .search_input_left{
    height: 40px;
    text-indent: 12px;
    border-radius: 8px;
    border: none;
    border: 0.5px solid gray;
 }
 .search_left_button{
   
    height: 40px;
    margin-top: 6px;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    transition: all 400ms ease;
    border-radius: 8px;
 }
  .filter_btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 160px;
    height: 60px;
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    margin-top: 20px;
    cursor: pointer;
    transition: all 400ms ease;
    padding: 0 10px;
    box-sizing: border-box;
    flex-basis: calc(50%);
    margin-bottom: 20px;
  }

.more_info_link:hover{
    color: white;
    background-color: black;
}
  .filter_btn:hover {
    color: white;
    background-color: black;
  }
  .filter_btn.active {
    background-color: black;
    color: white;
}

  .filter_btn i {
    margin-left: 10px;
  }
  


  

@media(max-width: 830px) {
.ratings_stars{
    display: none;
}
  .activity_list{
    font-size: 1rem;
  }
.business_name{
    font-size: 1rem;
}
.iamge{
    width: 100px;
    height: 60px;
}
.more_info_link{
    width: 70px;
    height: 30px;
    font-size: 10px;
}
.filter_btn{
    width: 100px;
    height: 40px;
}
}



@media(max-width: 1030px) {

    .nav__links {
        display: none;
    }

    .btn__menu {
        display: block;
    }
    nav{
        padding: 24px 24px;
        padding-right: 60px;
    }
}

